ACTIVE_VG=active
ACTIVE_LV=lv
ACTIVE_SNAPSHOT_LV=${ACTIVE_LV}-snapshot
ACTIVE_SNAPSHOT_EXTENTS=100%FREE
ACTIVE_SNAPSHOT_MOUNTPOINT=/mnt/${ACTIVE_VG}-${ACTIVE_SNAPSHOT_LV}
ACTIVE_SNAPSHOT_TYPE=ext4
ACTIVE_SNAPSHOT_OPTIONS=defaults
ACTIVE_SNAPSHOT_MODULE=rsyncd-module
